<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css3?family=Lexend+Deca&display=swap" rel="stylesheet">
    <title>Spaceflight to Mars</title>
</head>
<body>
    <nav>
        <a href="/">
            <div class="logo"></div>
        </a>
        <ul>
            <a href="/">
                <li>home</li>
            </a>
            <a href="/about.html">
                <li>about</li>
            </a>
            <a href="/" class="login">
                <li>login</li>
            </a>
        </ul>
    </nav>

    <div class="about-main">
        <div class="about-heading">
            <h1>
                About Us
            </h1>
            <p>
                The efforts of NASA and SpaceX have successfully helped humanity establish a multi-planetary presence. In other words, humans have established both scientific and residential bases on Mars.

NASA's scientists have now agreed to *open the planet* to the public of Earth, and they are looking for 50 volunteers who would be aboard the next spaceflight to Mars—the first one for tourism.

NASA expects volunteers from all over the world to apply for this highly selective and historic mission, and thus they want a robust platform through which they can connect with the applicants.
            </p>
        </div>
        <div class="illus2">

        </div>
    </div>
</body>
</html>